body {
	font-family: Roboto, helvetica, sans-serif;
	margin: 1rem;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

header  div{
	padding: 1rem;
	background-color: #eee;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 1rem 0;
}

main {
	display: grid;
    grid-template-columns: 1fr 200px;
	grid-gap:1.5rem;
}

h2 {
	color: navy;
	text-align: start;
    grid-column: 1/3;
}
section {
	padding:1rem;
}
h3{
	margin-bottom: 0.5rem;
}
article p {
	text-align: justify;
}
.banner {
	border: 1px solid rgb(0 0 0 / 0.2);
	padding: 1rem;
	background-color: rgb(230 243 254 / 1);
	font-weight: 700;
	word-break: break-word;
	text-align: center;
}
.callout {
	color: #c2c2c2;
	background-color: #2d1028;
    padding:2%;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
