/*for siteplan */
:root {
  --primary-bg-color:rgb(109,104,117) ; /* global scope */
  --secondary-bg-color: rgb(181, 131, 141);
  --third-bg-color: rgb(229,152,155);
  --fourth-bg-color: rgb(255,180,162);
  --fifth-bg-color: rgb(255,205,178);
  --text-color: black;
  --link-color: white;
  --text-shadow:2px 2px 4px rgba(0, 0, 0, 0.7);
  --box-shadow: 5px 0px 0px rgba(0, 0, 0, 0.3);
  --border-radius: 20%;
    
}
html{
    box-sizing: border-box;
    width: 100%;
    min-width: 220px;
}
body {
    margin: 0; 
    font-family: "Open Sans", sans-serif;
    background-color: var(--third-bg-color);
}
header {
    background: var(--primary-bg-color);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-shadow: var(--text-shadow);
}
header img {
    order: -1;
    height: 6rem;
    width: auto;
    padding-left: 2rem;
}
header h1{
    order: 1;
    font-weight: 400;
    flex-grow: 1;
    font-size: clamp(1.5rem, 4vw, 2.5rem); 
    text-align: center;
}
header .navbar {
    order: 2;
    padding: 2rem;
}
.hero-container{
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
}
.hero img{
    z-index: -1;
    width: 100%;
    max-height: 100%;
    object-fit: fill;
    display: block;
}
.hero-text{
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); /*centering*/
    color: white;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 700;
    text-shadow: var(--text-shadow);
    
}
.hero a{
    z-index: 1;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);/*centering*/
    padding: 1rem 2rem;
    font-size: clamp(1rem, 3vw, 2rem);
    background-color: var(--secondary-bg-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: var(--text-shadow);
    font-style: italic;
    font-weight: 700;
    text-decoration: nonep;
}
/*nav */
nav {
    display: flex;
    place-content: end;
    gap: 1rem;
}
#menu-toggle {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    padding:0.25rem 0.5rem;
    cursor: pointer;
    color: white;
}
.navigation { /*nav display off for default mobile first*/
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;   
}
.navigation li {
    padding: 10px;
}
/*hamburger toggling open*/
.navigation.open {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:0.5rem;
}
.navigation.open a {
    display: block;
    text-decoration: none;
    color: white;
}
.navigation a:hover {
    background: var(--secondary-bg-color);
}
main {
    background: var(--fourth-bg-color);
    margin: 0 auto;
    max-height: fit-content;
    max-width: 90%;/*this is simply creating white space in the large veiw*/
    align-items: center;
} 
section{
    background-color: var(--fifth-bg-color);
}
img{
    width: 400px;
    height: auto;
    max-width: 100%;
}
footer {
    background: var(--primary-bg-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
    display: grid;
    justify-items: center;
}
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.social-icons a img {
    width: 30px;
    height: auto;
    margin: 0 0.5rem;
    background-color: var(--secondary-bg-color);
    border-radius: 50%;
    padding:1rem;
}
/*services on hompage*/
.services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto 1fr 50px;
    column-gap: 20px;
    row-gap: 10px;
}
.services h2{
    grid-row: 1;
    grid-column: 1 / span 2;
    justify-self: center;
}
.services div{
    grid-row: 2;
    display: grid;
    justify-self: center;
    list-style: square;
    
}
.services img{
    width: 200px;
    height: auto;
}
.hands{
    grid-column: 1 / span 1;
    justify-items: center;
    align-items: center;
}
.feet{
    grid-column: 2 / span 1;
    justify-items: center;
    align-items: center;
}
.feet li{
    margin: 0;
}
.services ul{
    grid-row: 3;
    justify-items: center;
    grid-column: 1 / span 2;
}
.services p{
    grid-row: 4;
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: end;
}