
main {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.fade-in {
    position: relative;
    overflow: hidden;
}
.fade-in::before {
    content: "";
    position: absolute;
    inset:0;
    background: black;
    opacity: 1;
    z-index: 2; 
    animation: revealFromBlack 10s ease forwards;
}

.fade-in img {
    grid-column: 2/2;
    width: 100%;
    height: auto;
}

@keyframes revealFromBlack {
  from { opacity: 1; }
  to   { opacity: 0; }
}