@media (min-width:640px){
    /*nav*/
    #menu-toggle{
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        gap:1.5rem;
    }
    
    .navigation a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    }

    
    #templeContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: clamp(1rem, 3vw, 2rem); /*dynamically adjust*/
    row-gap: clamp(1rem, 3vw, 2rem); /*dynamically adjust*/
    padding: 3 rem;
    }
}