body {
    display: grid;
    height:70vh;
    grid-template:auto 1fr auto / 1fr auto;
}
header {
    padding: 1rem;
    grid-column: 1/4;
    background: lightpink;
}
nav {
    display: flex;
    background: lightcoral;
    
}
.navigation {
    display: flex;
    align-content: center space-evenly;
}
main {
    grid-column: 1/1;
    background: lightyellow;
}
aside {
    grid-column: 3/4;
    background: rgb(234, 159, 218);
}
footer {
    padding: 2rem;
    grid-column: 1/4;
    grid-row: 3/4;
    background: lightblue;
}