body {
    display:grid;
    grid-template: auto 1fr auto / 1fr auto ;
    height: 100vh;
    font-family: 'Vend Sans', sans-serif;
    min-width: 600px;
}
header {
    grid-column: 1/4;/*this refering to body grid*/
    margin-bottom: 0;
    background: rgb(96, 108, 56);
    color: white;
    font-weight: 300;
    padding-top: 20px;
    
}
span {
    display: grid; /*this is its own grid just centering */
    place-items: center;
    
}
.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    background: rgb(40, 54, 24);
}
.navigation a {
    display: block;
    text-decoration: none;
	text-align: center;
    color: white;
}
.navigation li {
    flex:1 1 auto;
    padding: 10px;
}
.navigation a:hover {
    background: rgb(96, 108, 56);
}
main {
    grid-column: 1/4;/*this refering to the body grid*/
    background: rgb(188, 108, 37);
    display: grid;
    grid-template: 1fr/ 1fr;
    margin: 0px;
    max-height: fit-content;
    column-gap: clamp(1rem, 3vw, 2rem);
    
} /*trying to fix the center of main*/
main h1 {
    max-height: fit-content; /*come back this might work for the card2 */
    padding: 0%;
    margin: 20px;
}
section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    max-height: fit-content;
}
img{
    width: 200px;
    height: auto;
}
#card1{
    grid-column: 1/2;/*this is refering to grid in main*/
    background: rgb(221,161,94);
    display: grid;  
}
#card1 img{
    padding:20px;
    background:rgb(96, 108, 56);
    border-radius: 10px;
    border:rgb(40, 54, 24); 
    border-style: solid;
    place-items: start; /*this is refering to card 1 grid */
}
#card2{
    grid-column: 2/3;/*this is refering to grid in main */
    background: rgb(221,161,94);
    display: grid;
    place-items: center;
    font-weight: 600;
}
#card2 img{
    padding:20px;
    background:rgb(96, 108, 56);
    border-radius: 10px;
    border:rgb(40, 54, 24); 
    border-style: solid;
}
#card2 a{
    color: black;
    max-height: fit-content;
}
#card2 a:visited{
    color: rgb(40, 54, 24)
}
footer {
    grid-column: 1/4; /*this is refering to grid in body*/
    background: rgb(96, 108, 56);
    color: white;
}
footer p {
    margin: 20px;
    display: flex;
    flex-direction: row;
    }