body {
    min-width: 320px;
    
}
header {
    margin: 0 auto;
}
#menu-toggle{
    display: block;
    font-size: 2rem;
    margin: 0 auto;
}
.navigation {
    display: flex;
    display: none;
    list-style: none;
    margin:0 auto;
    background: rgb(40, 54, 24);
}
.navigation a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
}
.navigation li {
    flex:1 1 auto;
    padding: 10px;
}
.navigation a:hover {
    background: rgb(96, 108, 56);
}
main {
    background: rgb(188, 108, 37);
    margin: 0 auto;
    max-height: fit-content;
    max-width: 800px;
} 
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: clamp(1rem, 3vw, 2rem);
    row-gap: clamp(1rem, 3vw, 2rem);
    padding: 1rem;
}
img{
    width: 200px;
    height: auto;
    max-width: 100%;
}