body {
    min-width: 320px;/*mobile first iphone size?*/ 
    font-family: 'Vend Sans', sans-serif;
}
header {
    background: rgb(40, 54, 24);
    color: white;
}
header span{
    font-weight: 600;
    font-size: 1.5rem;
}
#menu-toggle{
    display: block;
    font-size: 2rem;
    margin: 0 auto;
    place-items: center;
}
nav{
    display: flex;/*did this becuase the assignment expects flex in nav.. come back after finding a better way becuase this is immediatly overriden*/
}
.navigation { /*nav display off for mobile first*/
    display: none;
    list-style: none;   
}
main {
    background: rgb(188, 108, 37);
    margin: 0 auto;
    max-height: fit-content;
    max-width: 800px;/*this is simply creating white space in the large veiw*/
} 
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
img{
    width: 200px;
    height: auto;
    max-width: 100%;
}
