@media (min-width:640px){
    #menu-toggle{
        display: none;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
    }
    .navigation {
        display: flex;
        flex-wrap: wrap;
    }
    .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: clamp(1rem, 3vw, 2rem); /*dynamically adjust*/
    row-gap: clamp(1rem, 3vw, 2rem); /*dynamically adjust*/
    padding: 1rem;
}
}