
body {
    margin: 0; 
    font-family: 'Vend Sans', sans-serif;
}
header {
    background: rgb(40, 54, 24);
    color: white;
}
#page-title {
    font-weight: 600;
}
/*nav */
nav {
    display: flex;
    place-content: end;
    gap: 1rem;
}
#menu-toggle {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    padding:0.25rem 0.5rem;
    cursor: pointer;
    color: white;
}
.navigation { /*nav display off for default mobile first*/
    display: none;
    list-style: none;   
}
 .navigation li {
    flex:1 1 auto;
    padding: 10px;
}
/*hamburger toggling open*/
.navigation.open {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1.5rem;
}
.navigation.open a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
}
.navigation a:hover {
    background: rgb(96, 108, 56);
}
main {
    background: rgb(188, 108, 37);
    margin: 0 auto;
    max-height: fit-content;
    max-width: 90%;/*this is simply creating white space in the large veiw*/
} 
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
img{
    width: 200px;
    height: auto;
    max-width: 100%;
}
